body {
  font-family: "Raleway", sans-serif;
}

/* Menu Section */

.menu {
  background-color: black;
}
/* PAGINA DE CV */

.bloque-p{
  padding-top: 100px;
}

/*Bloque información Contacto*/
.info-contacto{
  padding: 0;
  background-color: rgb(238, 238, 238);
}
.imagen-personal{
  margin-top: 50px;
  width: 80%;
  border-radius: 50%;
}
.titulo-contacto{
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
}
.info-b-cont{
  padding: 10px 15%;
}
.info-b-cont ul li{
  list-style-type: none;
  padding-top: 20px;
}
.info-b-cont ul li i{
  font-size: 20px;
  padding-right: 20px;
}
.info-b-cont{
  letter-spacing: 1px;
}
.info-b-leng{
  padding: 10px 15%;
}
.info-b-leng ul li{
  list-style-type: none;
  padding-top: 20px;
}
.info-b-leng ul li i{
  font-size: 20px;
  padding-right: 20px;
}
.info-b-leng{
  letter-spacing: 1px;
}
.info-b-cert{
  padding: 10px 15%;
}
.info-b-cert ul li{
  list-style-type: none;
  padding-top: 20px;
}
.info-b-cert ul li i{
  font-size: 10px;
  padding-right: 20px;
}
.info-b-cert{
  letter-spacing: 1px;
}
.info-b-prog{
  padding: 10px 15%;
}
.info-b-prog ul li{
  list-style-type: none;
  padding-top: 20px;
}
.info-b-prog ul li i{
  font-size: 20px;
  padding-right: 20px;
}
.info-b-prog{
  letter-spacing: 1px;
}


/*Bloque información Completa*/

.info-completa{
  padding: 80px 50px;
}
.nombre-profesion h1{
  font-weight: 900;
  font-size: 50px;
}
.profesion{
  font-size: 30px;
}
.presentacion{
  padding: 50px 0px;
}
.t-seccion{
  font-weight: 600;
  font-size: 35px;
}
.t-seccion i{
  font-size: 30px;
  padding-right: 20px;
}
hr{
  width: 100%;
}
.exp-lab li{
  padding-top: 20px;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#Mis-trabajos{
  background-color: rgb(238, 238, 238);
}
.card{
  transition: 0.5s;
}
.card:hover{
  cursor: pointer;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.83);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.83);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.83);
}
.boton-cartas{
  color: black;
  border: 1px solid black;
  transition: 0.5s;
}
.boton-cartas:hover{
  border: 1px solid black;
  background-color: black;
  color: white;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}
.boton-form{
  color: white;
  background-color: black;
  border: 1px solid black;
  transition: 0.5s;
}
.boton-form:hover{
  color: black;
  background-color: white;
  border: 1px solid black;
}

/* Footer */

.footer{
  background-color: black;
  padding: 20px 0px;
  margin: 0;
}
.footer p{
  color: white;
}


@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
